[defaults]
remote_user=sandeep
inventory=/home/sandeep/ansible/inventory
roles_path=/home/sandeep/ansible/roles:/usr/share/ansible/roles
collections_path=/home/sandeep/ansible/collections:/usr/share/ansible/collections
host_key_checking= False

[privilige_escalation]
become= False
become_ask_pass=False
become_method=sudo
become_user=root


[galaxy]
server_list = automation_hub, release_galaxy

[galaxy_server.automation_hub]
url=https://galaxy.ansible.com/
auth_url=https://galaxy.ansible.com/
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3ODA3Mzc3MjMsImp0aSI6IjVmODcxNGEwLWM3YzUtNDAwMS1iZWE5LTM1NGIzZmY1YzAzMSIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1MjMyOTM2OCIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiOGY2ZDE1ZDQtMDFmNy00YTU3LTk3MzgtODUzOWYzNTNjODI2Iiwic2lkIjoiZDY1MmI3ZjktN2IxYy00ZDgwLWFlZTctYWEyNGM2ZjA0YmY4Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.fZYnznYd_4PKP_tLqqZZpo3RMur04VlPMxpPmY4M7IMN7vKLHIxBo5nJj1q6DwtODnMLBf69pkqkSxV9MRjs-w

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
